/* @import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; */
* {box-sizing: border-box;}
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  h2{
      color: black;
  }
  
  #navbar {
    overflow: hidden;
    background-color:lightcoral;
    padding: 30px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    border:3px solid red;
    border-radius: 5px;
  }
  
  #navbar a {
    float: left;
    color:white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
 
    
  }
  
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  #navbar a:hover {
    background-color:lightgoldenrodyellow;
    color: black;
  }
  
  #navbar a.active {
    background-color: lightgoldenrodyellow;
    color:black;
  }
  
  #navbar-right {
    float: right;
  }

  .footer{
    left: 0;
    bottom: 0;
    background-color: lightcoral;
    padding: 40px;
    width: 100%;
    color: white;
}
h2{
    color: white;
}
table th td{
  border: 5px solid lightcoral;
}
th{
  font-family: Comic Sans MS, cursive, sans-serif;
  background-color: lightcyan;
  font-size: 20px;
  border-top: 2px solid cadetblue;
  border-bottom: 2px solid cadetblue;
}
td{
  background-color: rgb(172, 191, 241); 
  font-size: 16px;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color:lightcoral;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 17px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 80%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button span a{
  text-decoration: none;
  color: white;

}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid lightcoral;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 201px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  
    
  }